{% load static %}
{% load cloudinary %}
{% load mptt_tags %}

<div class="flex items-center justify-center w-full">
    <div class="w-full flex justify-center">
        <img src="{% static 'images/background.jpg' %}"/>
    </div>
</div>

<div class="w-full my-8">
    <p class="w-full text-lg flex justify-center text-blue-900 tracking-wide p-2 font-bold">
        Categories
    </p>
    <ul class="flex flex-wrap items-center justify-center">
        {% recursetree categories %}
            <li class="min-w-fit w-20 border-solid border p-2 m-2 text-center
                       hover:text-blue-900 hover:font-medium hover:border-blue-900 tracking-wide">
                <a href="{{node.get_absolute_url}}">
                    {{ node.name }}
                </a>
            </li>
        {% endrecursetree %}
    </ul>
</div>

<div class="py-8">
    <p class="w-full flex justify-center text-xl text-blue-900 tracking-wider
              p-2 font-bold border-b-4"
    >
        Trending products
    </p>
    {% with most_popular as products %}
        {% include './partials/images_carousel.html' %}
    {% endwith %}
</div>

<div class="grid grid-cols-1 lg:grid-cols-2">
    {% for campaign in campaigns %}
        {% if campaign.is_active %}
        <a class="m-2" href="{% url 'products:product_list_for_campaign' campaign.slug %}">
            <div class="relative">
                <p class="bg-black/80 p-2 rounded-md absolute right-10 bottom-10 text-white
                          font-bold text-xl md:text-2xl lg:text-3xl xl:text-4xl
                          tracking-[.25em] [text-shadow:_0_2px_2px_rgb(15_15_15_/_80%)]"
                >
                    {{campaign.name|capfirst}}
                </p>
                {% cloudinary campaign.image.public_id gravity="auto" crop="fill" %}
            </div>
        </a>
        {% endif %}
    {% endfor %}
</div>

<div class="py-8">
    <p class="w-full flex justify-center text-xl text-blue-900 tracking-wider
              p-2 font-bold border-b-4"
    >
        New arrivals
    </p>
    {% with new_arrivals as products %}
        {% include './partials/images_carousel.html' %}
    {% endwith %}
</div>




