<div class="overflow-y-auto"
     x-init="setColor()"
>
    <ul class="grid grid-cols-2 gap-3 m-8">
        {% for color in colors %}
            <li @click="toggleFilter(color, '{{color.pk}}')"
                class="flex items-center justify-left border hover:border-slate-800 cursor-pointer min-w-fit p-2"
                :class="{ 'font-medium border-slate-900' : color.includes('{{ color.pk }}') }">
                <div class="w-5 h-5 bg-[{{ color.hex_code }}] rounded-[2px] border border-black mr-2"></div>
                {{color}}
            </li>
        {% endfor %}
    </ul>
</div>
<div class="mt-auto m-8 pb-8 md:pb-0">
    <button class="bg-blue-800 hover:bg-blue-900 text-white cursor-pointer w-full p-2"
            @click="redirect(newParams())"
    >
        Submit
    </button>
</div>



