{% load product_tags %}
<div x-data="disableWindow">
    <div x-data="{ activePopup: ''}">
        <div x-data="filters()">
            <div class="cursor-pointer my-4 flex items-center w-fit"
                 @click="activePopup = 'main'; disable()"
            >
                <span class="material-symbols-sharp mx-1 text-3xl">tune</span>
                Filters
            </div>
            <div x-show="activePopup == 'main'"
                 x-cloak
                 class="fixed top-0 right-0 w-full md:w-1/2 lg:w-1/3 bg-white
                        h-screen flex flex-col border-solid border-2 divide-y z-20"
            >
                <div class="flex items-center mx-8 my-4">
                    <span class="material-symbols-sharp text-6xl text-white"
                          @click="activePopup = 'main'">
                        chevron_left
                    </span>
                    <p class="flex-1 text-center text-xl">
                        FILTERING AND SORTING
                    </p>
                    <span class="material-symbols-sharp text-5xl cursor-pointer"
                          @click="activePopup =''; enable()">
                        close
                    </span>
                </div>

                <div class="overflow-y-auto">
                    <ul class="divide-y overflow-y-hidden">
                        {% to_list 'sorting' 'size' 'color' 'price' as filters %}
                        {% for filter in filters %}
                        <li @click="activePopup = '{{filter}}'"
                            class="min-h-16 flex items-center cursor-pointer mr-4 ml-8">
                            {{ filter|capfirst }}
                            <span class="material-symbols-sharp text-6xl ml-auto cursor-pointer">
                                chevron_right
                            </span>
                        </li>
                        {% endfor %}
                        <li class="min-h-16 flex items-center justify-center cursor-pointer p-8"
                            @click="redirectToPath()">
                            <span class="material-symbols-outlined">
                                refresh
                            </span>
                            Clear all
                        </li>
                    </ul>
                </div>
                <div class="mt-auto m-8 pb-8 md:pb-0">
                    <button class="bg-blue-800 hover:bg-blue-900 text-white cursor-pointer w-full p-2"
                            @click="redirect((newParams()))"
                    >
                        Submit
                    </button>
                </div>
            </div>
            <div>
                {% for filter in filters %}
                    <div class="fixed top-0 right-0 w-full md:w-1/2 lg:w-1/3 bg-white
                                h-screen flex flex-col border-solid border-2 divide-y z-20"
                         x-show="activePopup == '{{filter}}'" x-cloak
                    >
                        <div class="flex items-center mx-8 my-4">
                            <span class="material-symbols-sharp text-6xl cursor-pointer"
                                  @click="activePopup = 'main'">
                                chevron_left
                            </span>
                            <p class="flex-1 text-center text-xl">{{filter|capfirst}}</p>
                            <span class="material-symbols-sharp text-5xl cursor-pointer"
                                  @click="activePopup = ''; enable()">
                            close
                            </span>
                        </div>
                        {% include "./"|add:filter|add:"_filter.html" %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

