<div class="relative overflow-hidden"
     x-data="staticImagesCarousel()"
     x-init="updateMaxTranslate(); updateImageWidth()"
     x-on:resize.window="resetTranslateAmount(); updateMaxTranslate(); updateImageWidth();">
    <div :style="`transform: translateX(${-translateAmount}px); transition: transform 0.3s ease;`"
         class="flex flex-row flex-nowrap ease duration-300
                *:w-1/2 *:md:w-1/4 *:lg:w-1/5 *:xl:w-1/6 *:shrink-0"
         x-ref="container"
    >
        {% for product in products %}
            {% include './product.html' %}
        {% endfor %}
    </div>
    <div class="absolute inset-y-0 left-0 z-10 flex items-center">
        <button @click="decreaseTranslateAmount()"
                :class="{ 'hidden' : translateAmount === 0 }"
                class="bg-white -ml-2 lg:-ml-4 flex justify-center items-center w-10 h-10
                       rounded-full shadow focus:outline-none"
        >
            <svg viewBox="0 0 20 20" fill="currentColor" class="chevron-left w-6 h-6">
                <path fill-rule="evenodd"
                      d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414
                         1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                >
                </path>
            </svg>
        </button>
    </div>
    <div class="absolute inset-y-0 right-0 z-10 flex items-center">
        <button @click="increaseTranslateAmount()"
                :class="{ 'hidden' : translateAmount === maxTranslate }"
                class="bg-white -mr-2 lg:-mr-4 flex justify-center items-center w-10 h-10
                       rounded-full shadow focus:outline-none">
            <svg viewBox="0 0 20 20" fill="currentColor" class="chevron-right w-6 h-6"
            >
                <path fill-rule="evenodd"
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4
                         4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd"
                >
                </path>
            </svg>
        </button>
    </div>
</div>